@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.about__title {
  margin: 0;
  z-index: 2;
  max-width: 251px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 19px;
  gap: 20px;
}

.about__paragraph {
  margin: 0;
  z-index: 2;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
