.form {
  /*margin: 0 auto; moved to reservatio__form
  max-width: 385px; moved to reservation__form
  box-sizing: border-box; moved to form__input*/
  display: flex; /*added to make form fill area*/
  align-items: stretch; /*added to make form fill area*/
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #6f6f6f;
  box-shadow: none;
  border: solid 1px #838383;
  padding: 0 0 0 10px; /*added padding*/
  box-sizing: border-box; /*border-box*/
  border-radius: 4px;
  width: 100%;
  min-height: 60px;
  margin-bottom: 32px;
}

/*.form__input[type="text"],
.form__input[type="number"],
.form__input[type="date"],
.form__input[type="email"],
.form__input_type_select {
  border-radius: 4px; moved to form__input
  min-width: 385px; removed
  min-height: 60px; moved to form__input
  margin-bottom: 32px; moved to form__input
}*/

.form__input::placeholder {
  font-family: inherit;
}

.form__button[type="submit"] {
  border-radius: 4px;
  /*width: 385px; removed*/
  width: 100%; /*Added to fill space on parent*/
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
  background: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif; /*corrected*/
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.form__button:hover {
  opacity: 70%;
  cursor: pointer;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  /*vertical-align: middle; removed, not necessary*/
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  /*vertical-align: middle; removed, not necessary*/
  margin: 0; /*removed margin and added padding to reservation__from*/
}
