.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
}

.header__title {
  margin: 202px 0 0;
  max-width: 729px;
  /*font-size: 66px; Removed duplicate property
  line-height: 76px; Removed duplicate property
  font-weight: 500; Removed duplicate property*/
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0; /*corrected margin top*/
  max-width: 683px;
  /*font-size: 20px; Removed duplicate property
  line-height: 30px; Removed duplicate propertyb*/
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 1;
  width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  position: absolute;
  left: 0; /*reset to 0*/
  bottom: 40px;
  padding-left: 80px;
  padding-right: 80px; /*adding padding to prevent elements from being placed outside the page*/
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

/*.header__hours { Removed unnecessary CSS rule
  padding: 0;
  margin: 0;
}*/

.header__paragraph {
  /*padding: 0; Removed, <p> elements have this by default*/
  margin: 0;
}

/*.header__address { Removed unnecessary CSS rule
  position: absolute;
  right: 80px;
  top: 40px;
  padding: 0;
  margin: 0 80px 0 0;
}*/
