.menu {
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-size: center; /*was having a issue with the background lining up, was told to use contain by the @tutors*/
  background-position: center;
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__title {
  margin: auto;
  padding-bottom: 24px;
  max-width: 780px; /*Corrected to max-width to not fix a text element*/
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
}

.menu__subtitle {
  margin: auto;
  padding-bottom: 100px;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 100px;
}
