.nav {
  display: flex;
  justify-content: flex-end; /*removed space-between, gap in nav__links already creats the space needed*/
  /*align-items: center; Removed, not necessary*/
}

.nav__links {
  display: flex;
  /*justify-content: flex-end; Removed, not necessary*/
  /*position: absolute; Removed, not necessary*/
  top: 30px;
  right: 80px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0; /*Removed margin-top not necessary*/
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  /*font-weight: bold; Removed*/
  font-family: inherit;
}

.nav__link:hover {
  color: #1f69c9;
}
