.reservation {
  background: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #d9e7ff;
}

.reservation__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
}

.reservation__form {
  height: 100%;
  margin: 0 auto;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  /*align-items: center; Removed*/
  padding-bottom: 120px; /*adding padding to push bottom*/
}
