.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 30px;
  right: 80px;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  margin: 202px 0 0;
  max-width: 729px;
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 32px 0 0;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  z-index: 0;
  width: 646px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__footer {
  position: absolute;
  left: 80px;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__hours {
  padding: 0;
  margin: 0;
}

.header__paragraph {
  padding: 0;
  margin: 0;
}

.header__address {
  position: absolute;
  right: 80px;
  top: 40px;
  padding: 0;
  margin: 0 80px 0 0;
}

.recipes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0a2750;
}

.recipes__title {
  margin: 100px 0 0 80px;
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-bottom: 215px;
  gap: 40px;
}

.recipes__iframe {
  border: none;
}

.recipes__video {
  margin: 80px 0 0;
  padding: 0;
}

.recipes__video-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.reservation {
  /*height: 100vh;
  min-height: 720px;
  max-height: 800px;*/
  background: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #d9e7ff;
}

.reservation__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
}

.reservation__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.form {
  margin: 0 auto;
  max-width: 385px;
  box-sizing: border-box;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #6f6f6f;
  box-shadow: none;
  border: solid 1px #838383;
  padding: 0;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="date"],
.form__input[type="email"],
.form__input_type_select {
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
  margin-bottom: 32px;
}

.form__input::placeholder {
  font-family: inherit;
}

.form__button[type="submit"] {
  border-radius: 4px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
  background: #2f80ed;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.form__button:hover {
  opacity: 70%;
  cursor: pointer;
}

.form__label-checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  vertical-align: middle;
}

.form__input-checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 120px;
}
